@import 'microns/fonts/microns.css';
@import '@fontsource-variable/inter';
@import '@fontsource/inter-tight/latin-800.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		text-rendering: optimizeLegibility;
	}

	@font-face {
		font-family: 'Iosevka';
		font-style: normal;
		font-weight: 400;
		font-display: block;
		src: url('/fonts/iosevka/iosevka-custom-mono-regular.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Iosevka';
		font-style: italic;
		font-weight: 400;
		font-display: block;
		src: url('/fonts/iosevka/iosevka-custom-mono-italic.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Iosevka';
		font-style: normal;
		font-weight: 500;
		font-display: block;
		src: url('/fonts/iosevka/iosevka-custom-mono-medium.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Iosevka';
		font-style: italic;
		font-weight: 500;
		font-display: block;
		src: url('/fonts/iosevka/iosevka-custom-mono-mediumitalic.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Iosevka';
		font-style: normal;
		font-weight: 700;
		font-display: block;
		src: url('/fonts/iosevka/iosevka-custom-mono-bold.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Iosevka';
		font-style: italic;
		font-weight: 700;
		font-display: block;
		src: url('/fonts/iosevka/iosevka-custom-mono-bolditalic.woff2') format('woff2');
	}
}
